.main-nav {
    width: 600px;
    margin: 15px auto 0 105px;
    @include respond-to("large-s") {
        margin: 15px auto 0;
    }
    @include respond-to("medium") {
        width: 98%;
        order: 2;
    }
    &__list {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin: 5px 0;
        @include respond-to("medium-xs") {
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 auto;
        }
    }
    &__item {
        margin: 0 20px 0 35px;
        @include respond-to("large-s") {
            margin: 0 5px 10px;
        }
    }
    &__link {
        color: $pallete-menu-text;
        letter-spacing: 0.02em;
        transition: 0.3s;
        @include menu-hover;
    }
}